.body-container{
justify-content: center;
}

.header-container{
    display: flex; 
    justify-content: space-between;
    margin-inline: 10px;
    margin-top: 10px;
    align-items: center;
}

.header-button{
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.Employee-container{
    display: flex;
    /* width: 100%; */
    height: 500px;
    margin-inline: 10px;
}
.Employee-list-container{
    width: 30%;
    border: solid black 1px;
    padding: 5px;
    overflow-y: auto; /* Enable vertical scroll */

}

.Employee-information-container{
    width: 70%;
    border: solid black 1px;
    padding: 5px;
}
